body {
    font-family:  sans-serif;
    background-color:#ede7f6 ;
    font-family: sans-serif;
    margin-left: 23%;
    margin-top: 1%;
    width: 1100px;
   
}

.imagem{
    width: 577px;
}
.centro{
    border-color: white;
    border-radius: 8px;
    background-color: white;
   
}
.inicio{
    border-color: white;
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 120px;
    left: -1px;
    top: 0px;
    width: calc(100% + 2px);
}
.botao{
    background-color:#5c5959 ;
    border: 0px;
    -webkit-border-radius: 4px;
    border-radius: 0px;
    color:white;
    cursor: pointer;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 36px;
    width: 90px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.senioridade{
    min-width: 150px;
    min-height: 50px;
    border-color: lightgray;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

 